<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= @homeland %>
<ul>
	<% @countries.each do | country |%>
		<li><%= country %></li>
	<% end %>	
</ul>



<%= image_tag 'Japan.jpg', alt: 'Japan',
						   id: 'Japan', 
						   class: 'img-responsive',
						   height: 300,
						   width: 400 %>


<%= image_tag 'Canada.jpg', alt: 'Japan',
						   id: 'Canada', 
						   class: 'img-responsive',
						   height: 300,
						   width: 400 %>
						   <br>

<%= link_to "Params", param_path %>


<br>
<br>

